# THIS IS PYTHON TUTORIAL

This is our first program in python

In [1]:
print("hello world")

hello world

In [2]:
$a=b+c$

SyntaxError: invalid syntax (<ipython-input-2-0d5d1433e895>, line 1)

$a=b+c$

# Variables

In [3]:
x=3

In [4]:
%whos

Variable   Type    Data/Info
----------------------------
x          int     3

In [5]:
print(type(x))

<class 'int'>

In [6]:
x=5.7

In [7]:
%whos

Variable   Type     Data/Info
-----------------------------
x          float    5.7

In [8]:
abcd=56.3

In [9]:
%whos

Variable   Type     Data/Info
-----------------------------
abcd       float    56.3
x          float    5.7

In [10]:
a,b,c,d,e,f =3,5,6,0,7.5,-3

In [11]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      3
abcd       float    56.3
b          int      5
c          int      6
d          int      0
e          float    7.5
f          int      -3
x          float    5.7

In [12]:
del abcd

In [13]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      3
b          int      5
c          int      6
d          int      0
e          float    7.5
f          int      -3
x          float    5.7

In [14]:
print(abcd)

NameError: name 'abcd' is not defined

In [15]:
c=2+4j

In [16]:
print(type(c))

<class 'complex'>

In [17]:
s="Hello world how"

In [18]:
print(type(s))

<class 'str'>

# Operators

In [19]:
%whos

Variable   Type       Data/Info
-------------------------------
a          int        3
b          int        5
c          complex    (2+4j)
d          int        0
e          float      7.5
f          int        -3
s          str        Hello world how
x          float      5.7

In [20]:
sumofAandb =a+b

In [21]:
print(sumofAandb)

8

In [22]:
print(type(sumofAandb))

<class 'int'>

In [23]:
type(a+e)

float

In [24]:
v = ((a+e)**5)/3

In [25]:
print(v)

42542.71875

In [26]:
s1="hello"

In [27]:
s2="world"

In [28]:
s=s1+s2

In [29]:
print(s)

helloworld

In [30]:
10//3

3

In [31]:
10/3

3.3333333333333335

In [32]:
_

3.3333333333333335

In [33]:
3x=4

SyntaxError: invalid syntax (<ipython-input-33-6883efdc6123>, line 1)

@ # * in start for aloting variable

are not allowed

In [34]:
startingOfTheCourse =2.0

In [35]:
%whos

Variable              Type       Data/Info
------------------------------------------
a                     int        3
b                     int        5
c                     complex    (2+4j)
d                     int        0
e                     float      7.5
f                     int        -3
s                     str        helloworld
s1                    str        hello
s2                    str        world
startingOfTheCourse   float      2.0
sumofAandb            int        8
v                     float      42542.71875
x                     float      5.7

In [37]:
a= True
b= True
c= False

In [38]:
%whos

Variable              Type     Data/Info
----------------------------------------
a                     bool     True
b                     bool     True
c                     bool     False
d                     int      0
e                     float    7.5
f                     int      -3
s                     str      helloworld
s1                    str      hello
s2                    str      world
startingOfTheCourse   float    2.0
sumofAandb            int      8
v                     float    42542.71875
x                     float    5.7

In [39]:
print(a and b)
print(a and c)
print(b and c)

True
False
False

In [40]:
d =a or b
print(d)

True

In [41]:
print(a or b)
print(a or c)
print(b and c)

True
True
False

In [42]:
not(a)

False

In [43]:
not(b)

False

In [46]:
t = not(c)

In [47]:
print(type(t))

<class 'bool'>

In [48]:
(a and b) or (c or d)

True

In [49]:
a==d

True

In [50]:
a!=c

True

In [51]:
a!=d

False

# Comparisons

In [52]:
print(2<3)

True

In [53]:
c=2<3
print(type(c))
print(c)

<class 'bool'>
True

In [54]:
d= 3==4

In [55]:
print(d)

False

In [56]:
3==3.00

True

In [57]:
x=4
y=9
z=8.5
r=-3

In [58]:
(x<y) and (z<y) or (r==x)

True

In [59]:
(x<y) and (r==x) or (z<y)

True

In [60]:
True or False and False

True

and will apply first when () is absent

In [62]:
print((not(2!=3) and True) or (False and True))

False

# some important functions

Print(round())   for rounding up 

divmod(34,9)  divide 34 wit 9 and result is with be divider and qoustion

isinstance (No,()) for asking no type int float complex etc

pow(x,y,z) x to power y then divide by z than remainider will be the answer

input()

In [63]:
print(round(4.554))

5

In [64]:
print(round(4.335))

4

In [1]:
print(round(4.556789,2))

4.56

In [66]:
print(round(4.556789,3))

4.557

In [67]:
divmod(34,9)

(3, 7)

In [2]:
g =divmod(34,9)
type(g)
g

(3, 7)

In [69]:
g[0]

3

In [70]:
g[1]

7

In [71]:
%whos

Variable              Type     Data/Info
----------------------------------------
a                     bool     True
b                     bool     True
c                     bool     True
d                     bool     False
e                     float    7.5
f                     int      -3
g                     tuple    n=2
r                     int      -3
s                     str      helloworld
s1                    str      hello
s2                    str      world
startingOfTheCourse   float    2.0
sumofAandb            int      8
t                     bool     True
v                     float    42542.71875
x                     int      4
y                     int      9
z                     float    8.5

In [72]:
del r,s

In [73]:
%whos

Variable              Type     Data/Info
----------------------------------------
a                     bool     True
b                     bool     True
c                     bool     True
d                     bool     False
e                     float    7.5
f                     int      -3
g                     tuple    n=2
s1                    str      hello
s2                    str      world
startingOfTheCourse   float    2.0
sumofAandb            int      8
t                     bool     True
v                     float    42542.71875
x                     int      4
y                     int      9
z                     float    8.5

In [74]:
isinstance(3,(int))

True

In [3]:
isinstance(3.4,(float))

True

In [11]:
isinstance(2+3j,(int,float,str))
isinstance(22e-2,(complex))

False

In [15]:
isinstance(2+3j,(complex))

True

In [80]:
pow(2,5)

32

In [81]:
2**5

32

In [82]:
pow(2,4,7)

2

In [83]:
x =input("Enter a Number")

Enter a Number29

In [84]:
type(x)

str

In [86]:
x=int(x)
print(type (x))

<class 'int'>

In [87]:
print(x-11)

18

In [88]:
a = float(input("enter a number"))

enter a number12.4

In [89]:
type(a)

float

In [90]:
b = float(input("enter a real Number"))

enter a real Numberqwe

ValueError: could not convert string to float: 'qwe'

In [1]:
pow?

In [92]:
help(pow)

Help on built-in function pow in module builtins:

pow(base, exp, mod=None)
    Equivalent to base**exp with 2 arguments or base**exp % mod with 3 arguments

    Some types, such as ints, are able to use a more efficient algorithm when
    invoked using the three argument form.

# Control Flow

In [93]:
a = input(())
b = input(())
if a>b:
    print(a)
    print(" I am inside if condition")
print("I am outside the if condition")

()12
()10
12
 I am inside if condition
I am outside the if condition

In [94]:
a = input(())
b = input(())
if a>b:
    print(a)
    print(" I am inside if condition")
print("I am outside the if condition")

()10
()45
I am outside the if condition

In [95]:
a= int(input())
b = int(input())
if a>b:
    print(a)
if b>a:
    print(b)

10
45
45

In [96]:
a= int(input())
b= int(input())
if a>b:
    print(a)
else:
    print(b)

10
12
12

In [98]:
a= int(input())
b= int(input())
if a>b:
    print(a)
    print("if part")
else:
    print(b)
    print("else part")

10
10
10
else part

In [99]:
a=2
b=5
if a==b:
    print("equal")
elif a>b:
    print("A")
else:
    print("B")
    print("Not in if part")

B
Not in if part

In [100]:
a=9
b=10
print("A") if a>b else print("=") if a==b else print("B")

B

In [102]:
a = int(input("enter marks"))
if a >= 85:
    print("A GRADE")

elif a < 85 and (a >= 80):
        print("A- GRADE")
        
elif a<80 and a >=75:
    print("B GRADE")

elif a<75 and a>= 70:
    print("B- GRADE")
else:
    print("below aveage")

enter marks79
B GRADE

In [103]:
a =3
if a>10:
    print(">10")
elif not(a>10):
    print("ELSE part")

ELSE part

when not whant to use else up code

Nested if downword code    means if in if statment

In [109]:
a = int(input())
if a>10:
    print(">10")
    print("Inside the top of it")
    if a>20:
        print(">20")
        print("Inside the nested if")
        if a>30:
            print(">30")
            print("inside the nested if of nested if")
        else:
            print("<30")
            print("inside the else part of nested if of nested if")
    else:
        print("<=20")
        print("Inside the else part of nested if")
else: 
    print("Outside all ifs")

18
>10
Inside the top of it
<=20
Inside the else part of nested if

In [116]:
# single line comment
'''
user will enter floting point no lets say 238.915 your task is to find out integer portion before the point 
( in this case is 238 ) and then check if that integer portion is even or not
'''
x = float(input("enter real number"))
y = round(x)
if x>0:    
    if y>x:
        intpor= y-1
    else:
        intpor = y
        
else:
    if x<0:  # Or y<x
        intpor=y+1
    else:
        intpor = y
if intpor%2 ==0:
    print("even")
else:
    print("Odd")

enter real number-98.9
even

In [112]:
number = float(input("enter number"))
print(round(number))

if number%2 == 0:
    print("no is even")
else:
    print("number is odd")

enter number237.915
238
number is odd

# LOOPS

In [117]:
n= int(input("enter no"))
i=1
while i<n:
    print(i)
    i+=1
print("done")

enter no5
1
2
3
4
done

In [121]:
n= int(input("enter number"))
i=1
while i<n:
    print("this is iteration number : ", i)
    print(i**3)
    i+=1
print("loop Done")

enter number5
this is iteration number :  1
1
this is iteration number :  2
8
this is iteration number :  3
27
this is iteration number :  4
64
loop Done

In [126]:
n= int(input("enter number"))
i=1
while i<n:
    print(" before multiply by 5 ")
    print(i*5)
    i+=1
print("done")

enter number5
 before multiply by 5
5
 before multiply by 5
10
 before multiply by 5
15
 before multiply by 5
20
done

In [3]:
n= int(input("enter number"))
i=1
while i<n:
    if i%2==0:
        print(i)
    else: 
        print("no is odd:",i )
    i+=1

enter number9
2
4
6
8

In [7]:
n=10
i=1
while True:
    if i%5==0:
        print("inside the if")
        break
    else:
        i+=1
        print("in else ")
        continue
print("done")

in else
in else
in else
in else
inside the if
done

In [20]:
n=14
i=1
while True:
    if i%10 !=0:
        print("inside the if: ",i)
        i+=1
        continue
    print("somet")
    print("somet")
    break
print("done")

inside the if:  1
inside the if:  2
inside the if:  3
inside the if:  4
inside the if:  5
inside the if:  6
inside the if:  7
inside the if:  8
inside the if:  9
somet
somet
done